<form class="contactForm" [formGroup]="contactForm" (ngSubmit)="sendMessage()">
  <mat-form-field color="accent">
    <input autocomplete="off" matInput  placeholder="Name" formControlName="name" >
  </mat-form-field>
  <mat-form-field color="accent">
    <input autocomplete="off" matInput placeholder="Surname" formControlName="surname" >
  </mat-form-field>
  <mat-form-field color="accent">
    <input autocomplete="off" matInput placeholder="Email" formControlName="email" >
  </mat-form-field>
  <mat-form-field color="accent">
    <input autocomplete="off" matInput placeholder="Company" formControlName="company" >
  </mat-form-field>
  <mat-form-field color="accent">
    <textarea autocomplete="off" matInput placeholder="Message" formControlName="message" ></textarea>
  </mat-form-field>

<button mat-raised-button color="accent" type="submit">CONTACT ME!</button>
</form>



 