$font-color:  whitesmoke;
$font-hover-color: rgba(243, 163, 16, 0.829);
$layout-color: #051128 ;
%background {
  background: #051128;
  background: -moz-linear-gradient(-45deg, #051128 12%, #051128 6%, #21b4e2 20%, #051128 74%, #051128 74%, #051128 75%);
  background: -webkit-linear-gradient(-45deg, #051128 10%,#b7deed 6%,#21b4e2 20%,#051128 74%,#051128 74%,#051128 75%);
  background: linear-gradient(360deg, #051128 12%, #051128 23%, #21b4e2 92%, #051128 93%, #051128 114%, #051128 90%);
}


.sidenav {
  width: 200px;
  &.mat-toolbar {
    background: inherit;
  }
  &-container {
    height: 100%;
    @extend %background;
  }
}



.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.toolbar{
  background-color: transparent;
  padding: 0 25%;
  
  &--list{
    padding: 10px;

  }
  &--icon{
    padding: 0px;
   }
   &--anhor{
    padding: 1px;
    transition: 0.3s;
    opacity: 0.7;
    border-bottom: dashed 1px;

    &:hover{
      color: $font-hover-color;
      padding: 4px;
      transition: 0.3s;
      opacity: 1;
    }
  }

}



.buttonwrap{
  padding-bottom: 10px;
}
.header{ 
  color: $font-color;

&--button{
  color: $font-color;
  flex-grow: 0;
}
&--logo{
  background-color: transparent;
  height: 8%;
  width: 100%;
  display:flex;
}
&--anchor{
  text-decoration: none;
  color:  $font-color;
  font-size: 25px;
  transition: 0.2s;
  text-transform: uppercase;

  &:hover{
    animation-duration: 0.5s;
    animation-timing-function: ease;
    font-size:28px;
    transition: 0.2s;
    color:  $font-hover-color;
  }
}
}

::ng-deep .mat-drawer-inner-container{
  @extend %background;
}

::ng-deep .mat-sidenav{
  border-right: 1px solid $layout-color;
}

.test{
  flex-grow: 6;
  text-align: center;
}

@media only screen and (max-width: 670px) {
  .title {
    display: none;
  }
}
