<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [(opened)]="opened" class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'push' : 'side'"
    [opened]="(isHandset$ | async)">
    <mat-toolbar class="toolbar">Navigation</mat-toolbar>
    <mat-nav-list class="toolbar--list">
      <a mat-list-item routerLink="/home" routerLinkActive="active" class="toolbar--anhor">
        <mat-icon class="toolbar--icon" aria-label="Side nav toggle icon">home</mat-icon>
        Home Page
      </a>
      <a mat-list-item routerLink="/about-me" routerLinkActive="active" class="toolbar--anhor">
        <mat-icon class="toolbar--icon" aria-label="Side nav toggle icon">code</mat-icon>
        About me
      </a>
      <a mat-list-item routerLink="/experience" routerLinkActive="active" class="toolbar--anhor">
        <mat-icon class="toolbar--icon" aria-label="Side nav toggle icon">computer</mat-icon>
        Experience
      </a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active" class="toolbar--anhor">
        <mat-icon class="toolbar--icon" aria-label="Side nav toggle icon">sentiment_satisfied_alt</mat-icon>
        Contact
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="header">
    <mat-toolbar class="header--logo">
      <div class="buttonwrap">
      <button class="header--button" type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" *ngIf="opened">keyboard_backspace</mat-icon>
        <mat-icon aria-label="Side nav toggle icon" *ngIf="!opened">menu</mat-icon>

      </button></div>
      <div class="test">
        <a class="header--anchor" routerLink="/home" routerLinkActive="active">Rafal Mzyk <span class="title">-
            Professionalist programmer</span></a></div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>