.wrapper{

    padding: 4vw;
     background-attachment: fixed;
     width: 100%;
     height: 92%;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // background: #051128;
    // background: -moz-linear-gradient(-45deg, #051128 6%, #051128 6%, #21b4e2 20%, #051128 74%, #051128 74%, #051128 75%);
    // background: -webkit-linear-gradient(-45deg, #051128 6%,#b7deed 6%,#21b4e2 20%,#051128 74%,#051128 74%,#051128 75%);
    // background: linear-gradient(135deg, #051128 6%,#051128 6%,#21b4e2 20%,#051128 74%,#051128 74%,#051128 75%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=1 );


}

section{
    
}
section p{
    text-align: center;
    font-family: "Josefin Sans"
}
.section{
   
    &__paragraph{
        font-weight: bold;
        font-size: 16px;
        border: 1px dashed red;
        padding: 5px;
     
    }
}

.introduction{
    max-width: 550px;
    max-height: 550px;
}