<div class="wrapper">
  <section>
    <p> Code <span class="section__paragraph">must</span>  be clean. </p>
    <p> I <span class="section__paragraph">must</span>  improve. </p>
    <p> My employer <span class="section__paragraph"> must</span>  set new challenges for me. </p>
  </section>
  <article>
    <img src="C:\Users\mzykr\Documents\repos\PortfolioAngular\PortfolioAngulr\src\environments\me.jpg" alt="Picture of site owner">
    <img src="src\environments\so_true.jpg" alt="HTML5 Icon" width="128" height="128">
    <p>My name is Rafał Mzyk and I am {{ Age | number: '2.0-0' }} years oldI am asideLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
  </article>
  <aside>
    <p> I am asideLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.</p>
  </aside>
</div>